.index{
    margin-top: 50px;
}
.index h1.titre{
    color: rgb(7, 0, 226);
}

#derniers_articles .un_article .image{

    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

#derniers_articles .un_article .content {
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
}

#derniers_articles .un_article .content span.date {
    display: block;
    position: absolute;
    left: 50%;
    top:0;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    background-color: red;
    padding-top: 25px;
    color: white;
    border-radius: 100%;
    z-index: 999;

}

#derniers_articles .un_article .content span.titre {

    display: block;
    padding-top: 50px;
    color: white;
}

