{%  extends "base.html.twig" %}

{% block content %}

    <main class="container index">
        <h1 class="text-center titre">Actualité</h1>

        <div id="derniers_articles" class="row">
            {% for article in articles %}
            <div class="un_article col-lg-4">
                <a href="{{  path('article', {id: article.getId()}) }}">
                <div style='background-image: url("{{ asset("assets/img/" ~ article.getImage()) }}")' class="image"></div>
                <div class="content">
                    <span class="date">
                    {{ article.getCreatedAt() | date('d M') }}
                    </span>
                    <span class="titre">
                        {{ article.getTitre() }}
                    </span>
                    <p>
                        {{ article.description() }}
                    </p>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>

        {{ form(form) }}
    </main>


{% endblock %}